*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

div.st-emotion-cache-9aoz2h.e1vs0wn30{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
@media only screen and (max-width: 640px)  {
  width: 200px;
}
@media only screen /* testing against iphone xs max */
    and (device-width : 414px)
    and (device-height : 896px)
    and (max-width: 896px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation: portrait) {
      width: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

div.st-emotion-cache-1cunkzb.e10yg2by1  {
  border: 2px solid #D0B8D1;
}

/* div.css-1cunkzb {
  padding: 20px, 16px, 20px, 16px; /* Adjust the padding values (top, right, bottom, left) as needed
} */

/* div.css-ocqkz7.e1f1d6gn3 {
    color: white;
    width: auto;
    height:auto
} */
/* div.css-1r6slb0.e1f1d6gn1 {
  width: 11px;
} */

/* div.element-container.css-14onzaw.e1f1d6gn2 {
  font-size: 1px;
} */

/* div.css-ocqkz7.e1f1d6gn3 {
  padding-bottom: 0.0px;
  padding-top: 0.0px;
} */

/* Adjust layout for screens with max width of 640px */
/* @media (max-width: 640px) {
  .streamlit-container {
      flex-direction: column;
  }
} */

div.st-emotion-cache-ocqkz7.e1f1d6gn3 {
  padding-bottom: 0.0px;
  padding-top: 0.0px;

/* Adjust layout for screens with max width of 640px */
@media (max-width: 506px) {
  width: 380px;
  height: 360px;
  align-content: center;
  padding-bottom: 0.0px;
  padding-top: 30px;
  }
@media only screen /* testing against iphone xs max */
  and (device-width : 414px)
  and (device-height : 896px)
  and (max-width: 896px)
  and (-webkit-device-pixel-ratio : 3) {
  width: 380px;
  height: 370px;
  align-content: center;
  padding-bottom: 0.0px;
  padding-top: 30px;
  }
}

/* topping adjustment */
/* it is the whole container */
div.block-container.st-emotion-cache-1y4p8pa.ea3mdgi4 {
  padding-top: 1px;
  padding-bottom: 30px;

/* Adjust layout for screens with max width of 640px */
@media (max-width: 640px) {
  /* width: 500px;
  height: 380px; */

  }
}

/* Adjust layout for screens with max width of 640px */
/* class of the container where the image is */
div.st-emotion-cache-1kyxreq.e115fcil2 {
width: auto;
height: auto;

@media only screen /* testing against iphone xs max */
  and (device-width : 414px)
  and (device-height : 896px)
  and (max-width: 896px)
  and (-webkit-device-pixel-ratio : 3) {
    width: 4px;
    height: auto;
  }
}


/* Adjust layout for screens with max width of 640px */
/* image class */
div.st-emotion-cache-1v0mbdj.e115fcil1 {
  width: auto;
  height: 30px;

  @media only screen /* testing against iphone xs max */
    and (device-width : 414px)
    and (device-height : 896px)
    and (max-width: 896px)
    and (-webkit-device-pixel-ratio : 3) {
      width: 180px;
      height: 30px;
    }
  }

/* style.css */
/* style.css */
.element-container iframe {
  width: 100%; /* Set your desired width here */
  height: 304px; /* Set your desired height here */
@media only screen /* iphone X dimensions */
  and (min-device-width: 375px)
  and (min-device-height: 812px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
  width: 90%;
  height: 304px;
  }
}


/* Remove underline from links */
a {
  text-decoration: none;
}

/*source
remember used webpages
https://fonts.google.com/?preview.size=29&query=montserrat
https://fontawesome.com/search?q=pyhton&o=r & https://iconscout.com/
https://animate.style/
https://fontawesome.com/icons
https://www.flaticon.com/search/2?word=resume
https://gist.github.com/hoyangtsai/10a3d22f97d7b10288b46067c8906808
https://docs.klarna.com/legacy/kpm/logos/
https://giphy.com/gifs/klarna-reaction-approved-approve-N013zOWpvY7O9T2XYP
https://discuss.streamlit.io/t/st-footer/6447
https://discuss.streamlit.io/t/how-to-show-local-gif-image/3408/3
https://it.noknow.info/en/article/css/set-up-media-queries-for-various-device-widths
https://www.emailonacid.com/blog/article/email-development/emailology_media_queries_demystified_min-width_and_max-width/ */
